.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 15px;
  align-items: stretch;
}

.grid-item {
  border-radius: 10px;
  height: 100%;
  display: flex;
  width: 100%;
}

output {
  font-family: var(--primary-font);
  font-size: 40px;
}

/* ✅ Mobile 1 box per row */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
