@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Special+Gothic:wght@400..700&display=swap');

:root {
  --primary-font: 'Arimo', sans-serif;
  --heading-font: 'Special Gothic', sans-serif;
}

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Special Gothic", sans-serif;
  margin: 0;
  /* padding-bottom: 40px; */
  font-weight: 500;
}

div,
p,
span,
input {
  font-family: "Arimo", sans-serif;
  font-size: 17px;
  /* line-height: 17px; */
  margin: 0;
  padding: 0;
}

input {
  border: 2px dashed #2b2b2b;
  border-radius: 4px;
  /* width: 100%; */
  height: auto;
  padding: 3px;
  margin-bottom: 10px;
}

section {
  border: 2px dashed #2b2b2b;
  width: auto;
  height: 100%;
  background: #ffe7d3;
  border-radius: 4px;
  text-align: center;
  /* padding: 20px; */
}

button {
  text-decoration: none;
	color: #000;
  margin-bottom: 10px;
	font-family: sans-serif;
	font-size: 20px;
	border: 3px dashed #000;
	transition: all 0.2s;
	position: relative;
  font-weight: 500;
	overflow: hidden;
  background: transparent;
}

button:hover {
  color: #fff;
  border: 3px solid #000;
  background-color: orangered;
}